.stack-work/install/924e1d4b/pkgdb/package.cache
.stack-work/install/924e1d4b/pkgdb/package.cache.lock
.stack-work/install/92a8199c/pkgdb/package.cache
.stack-work/install/92a8199c/pkgdb/package.cache.lock
.vscode/phoityne.log
myproj/myproj.cabal
.stack-work/stack.sqlite3
.stack-work/install/924e1d4b/bin/myproj-exe.exe
.stack-work/install/924e1d4b/doc/myproj-0.1.0.0/LICENSE
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/HSmyproj-0.1.0.0-1qtXSCa68Z117heQezn7l0.o
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/Imovel.hi
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/ImovelList.hi
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/libHSmyproj-0.1.0.0-1qtXSCa68Z117heQezn7l0.a
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/Locatario.hi
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/Menu.hi
.stack-work/install/924e1d4b/lib/x86_64-windows-ghc-9.0.2/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0/Paths_myproj.hi
.stack-work/install/924e1d4b/pkgdb/myproj-0.1.0.0-1qtXSCa68Z117heQezn7l0.conf
.stack-work/stack.sqlite3
